.card {
  height: 20em;
  width: 32em;
  border: solid 0 #f0e14a;
  border-radius: 0.8em;
  background-color: #f0e14a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card__icon {
  position: absolute;
  top: -0.8em;
  right: 0.75em;
  fill: #e6dfe3;
  stroke: #e89ac7;
  stroke-width: 2;
}

.card__icon--active {
  fill: #e89ac7;
}

.card__image {
  height: 8em;
  width: 8em;
  border: solid 0 #f0e14a;
  border-radius: 50%;
}
